/* ばー widthとheightは7px → 0px で実質非表示*/
::-webkit-scrollbar {
    width: 8px;
	height: 8px;
}
::-webkit-scrollbar-track {
	background-color:rgba(0,0,0,0.8);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
	width:0px;
	height:0px;
	background:#707070;
}
::-webkit-scrollbar-thumb:window-inactive {
	background:#505050
}
/* END SCROLL BAR */


.card_status_right{
	margin-bottom: 1px;
}
.m-Top8 > .area_card_status > .card_status_list{
	margin-bottom: 1px;
}

.area_card_status > a.area_card_name{
	margin: 1px 3px 5px;
}

/* class naviをデフォルトで非表示に */
section.naviArea{
	display:none;
}
/* アイテム一覧ページのcss構成で、アイテム数値の部分を大きくする */
tr > td[align="left"] > span.pink{
	font-size:18px;
}

/* アクティブが青いタブリンクの高さ修正 */
ul.tab_link>li{
	height:25px;
}
ul.tab_link{
	line-height:25px;
}
/* 検索フォームの条件select大きさ */
select , td>select{
	height:30px;
}
/* 黒背景 block表示の > および < リンク領域 */
div.nextLink , div.backLink{
	height:35px;
	line-height:35px;
}
/* 贈り物と女子寮検索を開くトグル領域 */
a.acTrigger{
	height:30px;
	line-height:30px;
}
/* 女子寮一覧の 入力させる,呼び戻す のリンク領域,お仕事エリア一覧に影響	*/
span.a_link , a.a_link{
	margin:0px;
}
/* アイテム一覧の画像サイズ 下手にほかのページで動作しないように局所指定 */
tbody > tr > td > img[width='90']{
	width:50px;
	height:50px;
}
/* アイドルギャラリーのアイコンナビのボタンサイズを大きくしたり見やすくしたり */
ol.icon_navi{
	cursor:default;
}
ol.icon_navi > li{
	margin:0px;
}
ol.icon_navi > li > a{
	padding:3px;
}
ol.icon_navi > li > a:hover{
	background:#FF6666;
	cursor:pointer;
}
#idol-base-content + .idolList{
	padding-bottom:5px;
}
.idolList > .cover{
	height:75px;	/* idol_gallery.js */
}

/* カスタムメニュー設置 2設定 */
nav.area_menu_header > div.area_menu_header_6btn{
	height:93px;	/* default 64px add 36px */
	display:block;
}
div.headerPopupMenu{
	top:88px;	/* default 52px add 36px */
}

/* カスタムメニュー設置用イベントヘッダ空白 */
header.event_header{
	height:95px;	/* default 60px add 35px */
}
