/* トレード画面 */

.mkt_trade_panel_title{
    display:table-cell;
}
.mkt_trade_panel_title > span{
    display: inline-block;
    vertical-align: middle;
}

/* 出 , 求 のシンボルマーク*/
.mkt_trade_symbol
{
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    /*background-color:#2692d2;*/
    font-size: 13px;
    color: #00ccff;
    /*font-weight: normal;*/
    /*padding: 2px 3px;*/
    border-radius: 3px;
}
.mkt_trade_btn_area{
    display: table-cell;
}
    .mkt_trade_btn_area > a{
        position: relative;
    }
    .mkt_trade_btn_area:nth-of-type(1) > a:hover::after{
        content : "渡す";
    }
    .mkt_trade_btn_area:nth-of-type(2) > a:hover::after{
        content : "貰う";
    }

    .mkt_trade_btn_area > a:hover::after{
        content : "追加";
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 50%;
        margin-top: -35px;
        margin-left: -18px;
        width: 36px;
        color:white;
        background: #ff9900;
        -webkit-border-radius: 8px;
        -ms-border-radius: 8px;
        border-radius: 8px;
        text-align: center;
        font-size: 11px;
        text-shadow: 0px 0px 2px #7c3200, 0px 0px 2px #7c3200, 0px 0px 2px #7c3200, 0px 0px 2px #7c3200, 0px 0px 2px #7c3200, 0px 0px 2px #7c3200, 0px 0px 2px #7c3200, 0px 0px 2px #7c3200, 0px 0px 2px #7c3200, 0px 0px 2px #7c3200;
    }
    .mkt_trade_btn_area > a > img{
        width:40px;
        height: 40px;
        display: inline-block;
    }