/* 贈り物のレイアウトをcssレベルで強制的に操作 */
.page_layout > .frame-common_simple{
    margin-bottom: 0px !important;
}

.data_view{
    display: none;
}

/* 2020/01/09あたりにサイレント実装された領域？
    この領域が見えていると機能のバッティング起こすので非表示に
*/
a.search_checkbox_single_wrap{
    display: none;
}

a.btn_decision_line_2.m-Cnt.m-Btm8.js-btn_solo_recieve{
    display: none;
}
a.m-Cnt.m-Btm8.js-btn_solo_recieve.btn_disabled_line_2{
    display: none;
}

._line_solid.m-Cnt.m-Top8.m-Btm8{
    display: none;
}

.frame-common_no-border._in_frame.m-Btm8.jsPresentInfo{
    width:148px;
    display: inline-block;
}
/* 幅を下げる */
div.area_present_lump{
    width:141px;
}
/* Pサインエフェクトの線が全方位出るように、px指定をautoに変える */
div.area_present_lump > .item_view{
    width: auto;
    height: auto;
}

div.present_name.jsPresentName{
    width:auto;
    display: none;
}

div.icon_right_bottom > img{
    zoom:1.5;
}

/* 超過時に表示される「受け取れません」ボタン */
.btn_disabled_line_2.m-Cnt.m-Btm8{
    display: none;
}

/* これ以上所持することはできません のノード */
.jsPresentInfo + .yellow.t-Cnt.font-size-11.m-Btm4{
    display: none;
}

